@import "./theme";
@import "./variables";
@import "./custom/custom.scss";
@import "./material/material.scss";

body {
  @apply m-0 overflow-x-hidden;

  color: $text-primary;
  background: $bg-primary;
  font-family: "Poppins", sans-serif;
}

* {
  @apply scroll-smooth;
  @extend .invisible-scroll;
}

a {
  @apply cursor-pointer;
}
