<section id="sign-up" class="app-container">
  <article>
    <img src="/assets/images/logo-cbyk.svg" alt="CBYK" />

    <app-input label="Name" type="text" />
    <app-input label="email" type="email" />
    <app-input label="Password" type="password" />
    <app-input label="Confirm password" type="password" />

    <button mat-raised-button color="primary">Sign up</button>

    <span>
      Already have a registration?
      <a routerLink="/auth/sign-in">Sign in</a>
    </span>
  </article>
</section>
