<section id="sign-in" class="app-container">
  <article>
    <img src="/assets/images/logo-cbyk.svg" alt="CBYK" />

    <app-input label="email" type="email" />
    <app-input label="Password" type="password" />

    <button mat-raised-button color="primary">Login</button>

    <a (click)="handleLoginTestMode()">
      Sign in with test mode
      <i class="iconify" data-icon="grommet-icons:test"></i>
    </a>

    <a (click)="handleMicrosoftPopup()">
      Sign in with Microsoft
      <i class="iconify" data-icon="logos:microsoft-icon"></i>
    </a>

    <span>
      Don’t have an account?
      <a routerLink="/auth/sign-up">Sign up</a>
    </span>
  </article>
</section>
