<article id="side-menu-item">
  <a (click)="handleToggleOpen()">
    <i class="iconify" data-icon="streamline:pathfinder-trim"></i>
    {{ module.name }}

    @if (module.submodules.length) {
    <span class="arrow" [ngClass]="{ open: isOpen }">
      <i class="iconify" data-icon="ep:arrow-up-bold"></i>
    </span>
    }
  </a>

  <ul [class.closed]="!isOpen" [style.max-height]="maxHeight" #submenu>
    @for (submodule of module.submodules; track submodule.id) {
    <li [class.active]="submodule.id === chatStore.selectedSubmoduleId()">
      <i class="iconify" data-icon="streamline:pathfinder-trim"></i>

      <span (click)="handleCreateNewChat(module.id, submodule.id)">
        {{ submodule.name }}
      </span>

      <section animate animation="animate__fadeInDown">
        <button
          matTooltip="History"
          matTooltipPosition="above"
          (click)="handleGoToHistory(module.id, submodule.id)"
        >
          <i class="iconify" data-icon="solar:history-bold-duotone"></i>
        </button>

        <button
          matTooltip="New chat"
          matTooltipPosition="above"
          (click)="handleCreateNewChat(module.id, submodule.id)"
        >
          <i class="iconify" data-icon="line-md:plus"></i>
        </button>
      </section>
    </li>
    }
  </ul>
</article>
