$primary-palette: (
  50: #fae9e4,
  100: #f2c7bb,
  200: #eaa28e,
  300: #e17c60,
  400: #da603e,
  500: #d4441c,
  600: #cf3e19,
  700: #c93514,
  800: #c32d11,
  900: #b91f09,
  A100: #ffe7e5,
  A200: #ffb8b2,
  A400: #ff8a7f,
  A700: #ff7265,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
